*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: hsl(229, 23%, 23%);
    font-family: 'Kumbh Sans', sans-serif;
    background-color:hsl(185, 75%, 39%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
    border-radius: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.img-card{
    height: 100px;
    width: 100px;
    border: solid 10px white;
    border-radius: 100px;
}

.img-text{
    position: absolute;
    top:33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.list{
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    border-top: solid 0.8px hsl(0, 0%, 59%);
    
}

h1::after{
    content: "26";
    color: hsl(0, 0%, 59%);
    margin-left: 7px;
    
}

h1{
    font-size: 1.5em;

}

h2{
    font-size: 1.1em;
    color: hsl(0, 0%, 59%);
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
}

main>img{
    padding-bottom: 25vh;
    border-radius: 10px 10px 0 0;
}

.number{
    font-size: 1.5em;
    font-weight: bold;
}

.text{
    font-size:0.9em;
    color: hsl(0, 0%, 59%);
}

.top{
    position: absolute;
    z-index: -1;
    top: -400px;
    left: -200px;
    width: 800px;
}

.bottom{
    z-index: -1;
    position: absolute;
    bottom: -400px;
    right: -200px;
    width: 800px;
    
}

@media screen and (max-width:376px){
    .top{
        
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0px;
        width: 230px;
        transform: rotate(90deg);
    }
    
    .bottom{
        
        z-index: -1;
        position: absolute;
        bottom: 40px;
        right: 0px;
        width: 230px;
       
        
    }


    main{
        height: 50vh;
        width: 70vw;
    }

    main>img{
        padding-bottom: 22vh;
        width: 70vw;
    }
}


@media screen and (min-width:377px) and (max-width:539px){
    .top{
        
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0px;
        width: 260px;
        transform: rotate(90deg);
    }
    
    .bottom{
        
        z-index: -1;
        position: absolute;
        bottom: 0;
        right: 0px;
        width: 260px;
       
        
    }


    main{
        height: 50vh;
        width: 70vw;
    }

    main>img{
        padding-bottom: 25vh;
        width: 70vw;
    }
}


@media screen and (min-width:540px) and (max-width:540px){
    .top{
        
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0px;
        width: 260px;
        transform: rotate(90deg);
    }
    
    .bottom{
        
        z-index: -1;
        position: absolute;
        bottom: 0;
        right: 0px;
        width: 260px;
       
        
    }


    main{
        height: 50vh;
        width: 70vw;
    }

    main>img{
        padding-bottom: 18vh;
        width: 70vw;
    }

}


@media screen and (min-width:600px) and (max-width:1019px){
    
    .img-text{
        
        top:40vh;
        
    }


    main{
        height: 50vh;
        width: 70vw;
    }

    main>img{
        padding-bottom: 18vh;
        width: 70vw;
    }

}


@media screen and (min-width:1020px) and (max-width:1023px){
   



    main{
        height: 40vh;
        width: 40vw;
    }

    main>img{
        padding-bottom: 20vh;
        width: 40vw;
    }

    .img-text{
        
        top:37vh;
        
    }
}

@media screen and (min-width:1024px) and (max-width:1280px){
    .top{
        top: 0;
        left: 0px;
        width: 500px;  
    }
    
    .bottom{
        bottom: 0;
        right: 0px;
        width: 500px;
        
    } 

}


